<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shell Delivered.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8330DC41D826BD6008FE380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8330DDB1D826BD7008FE380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8330DE61D826BD7008FE380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
